h2 {
	font-size: 1.25rem;
	font-weight: 700;
	letter-spacing: -2.075px;
}

header {
	color: #fff;
	height: 65px;
	background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
	padding-left: 20px;
	padding-right: 36px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header--logo-container {
	display: flex;
	align-items: center;
}

.header--img {
	width: 31px;
	margin-right: 8px;
}

.header--course-info {
	font-size: 0.75rem;
	font-weight: 500;
}

main {
	padding: 36px 36px 55px 36px;
}

.form {
	display: grid;
	grid-template: 40px 40px / 1fr 1fr;
	gap: 17px;
}

input {
	height: 35px;
	border-radius: 5px;
	border: 1px solid #d5d4d8;
	color: #0d0d0d;
	font-family: 'Karla', sans-serif;
	font-weight: 400;
	text-indent: 8px;
}

button {
	height: 40px;
	border-radius: 5px;
	border: none;
	background: linear-gradient(90deg, #711f8d 1.14%, #a818da 100%);
	color: #fff;
	text-align: center;
	font-family: 'Karla', sans-serif;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: -1.6px;
	grid-column: 1 / -1;
	padding-bottom: 5px;
	cursor: pointer;
}

.meme {
	position: relative;
	margin-top: 36px;
}

.meme--image {
	max-width: 100%;
	border-radius: 3px;
}

.meme--text {
	position: absolute;
	width: 80%;
	text-align: center;
	left: 50%;
	transform: translateX(-50%);
	margin: 15px 0;
	padding: 0 5px;
	font-family: impact, sans-serif;
	font-size: 2em;
	text-transform: uppercase;
	color: white;
	letter-spacing: 1px;
	text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
		-2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000,
		-2px 0 0 #000, 2px 2px 5px #000;
}

.bottom {
	bottom: 0;
}

.top {
	top: 0;
}
